<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.mapper.OffuserMapper">
  <resultMap id="BaseResultMap" type="web.entity.Offuser">
    <id column="OFFUSER_ID" jdbcType="INTEGER" property="offuserId" />
    <id column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ADMIN_ID" jdbcType="INTEGER" property="adminId" />
    <result column="OFFUSER_DATE" jdbcType="DATE" property="offuserDate" />
    <result column="OFFUSER_TIME" jdbcType="INTEGER" property="offuserTime" />
  </resultMap>
  <sql id="Base_Column_List">
    OFFUSER_ID, USER_ID, ADMIN_ID, OFFUSER_DATE, OFFUSER_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="web.entity.OffuserKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from offuser
    where OFFUSER_ID = #{offuserId,jdbcType=INTEGER}
      and USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="web.entity.OffuserKey">
    delete from offuser
    where OFFUSER_ID = #{offuserId,jdbcType=INTEGER}
      and USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="web.entity.Offuser">
    insert into offuser (OFFUSER_ID, USER_ID, ADMIN_ID, 
      OFFUSER_DATE, OFFUSER_TIME)
    values (#{offuserId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{adminId,jdbcType=INTEGER}, 
      #{offuserDate,jdbcType=DATE}, #{offuserTime,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="web.entity.Offuser">
    insert into offuser
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="offuserId != null">
        OFFUSER_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="adminId != null">
        ADMIN_ID,
      </if>
      <if test="offuserDate != null">
        OFFUSER_DATE,
      </if>
      <if test="offuserTime != null">
        OFFUSER_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="offuserId != null">
        #{offuserId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="offuserDate != null">
        #{offuserDate,jdbcType=DATE},
      </if>
      <if test="offuserTime != null">
        #{offuserTime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="web.entity.Offuser">
    update offuser
    <set>
      <if test="adminId != null">
        ADMIN_ID = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="offuserDate != null">
        OFFUSER_DATE = #{offuserDate,jdbcType=DATE},
      </if>
      <if test="offuserTime != null">
        OFFUSER_TIME = #{offuserTime,jdbcType=INTEGER},
      </if>
    </set>
    where OFFUSER_ID = #{offuserId,jdbcType=INTEGER}
      and USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="web.entity.Offuser">
    update offuser
    set ADMIN_ID = #{adminId,jdbcType=INTEGER},
      OFFUSER_DATE = #{offuserDate,jdbcType=DATE},
      OFFUSER_TIME = #{offuserTime,jdbcType=INTEGER}
    where OFFUSER_ID = #{offuserId,jdbcType=INTEGER}
      and USER_ID = #{userId,jdbcType=INTEGER}
  </update>
</mapper>