<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.mapper.ShopMapper">
  <resultMap id="BaseResultMap" type="web.entity.Shop">
    <id column="SHOP_ID" jdbcType="INTEGER" property="shopId" />
    <id column="SHOP_NAME" jdbcType="VARCHAR" property="shopName" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="OWNER_NAME" jdbcType="VARCHAR" property="ownerName" />
  </resultMap>
  <sql id="Base_Column_List">
    SHOP_ID, SHOP_NAME, PASSWORD, EMAIL, PHONE, OWNER_NAME
  </sql>
  <select id="selectByPrimaryKey" parameterType="web.entity.ShopKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
      and SHOP_NAME = #{shopName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="web.entity.ShopKey">
    delete from shop
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
      and SHOP_NAME = #{shopName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="web.entity.Shop">
    insert into shop (SHOP_ID, SHOP_NAME, PASSWORD, 
      EMAIL, PHONE, OWNER_NAME
      )
    values (#{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="web.entity.Shop">
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        SHOP_ID,
      </if>
      <if test="shopName != null">
        SHOP_NAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="ownerName != null">
        OWNER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="web.entity.Shop">
    update shop
    <set>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        OWNER_NAME = #{ownerName,jdbcType=VARCHAR},
      </if>
    </set>
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
      and SHOP_NAME = #{shopName,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="web.entity.Shop">
    update shop
    set PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      OWNER_NAME = #{ownerName,jdbcType=VARCHAR}
    where SHOP_ID = #{shopId,jdbcType=INTEGER}
      and SHOP_NAME = #{shopName,jdbcType=VARCHAR}
  </update>
</mapper>